<?xml version="1.0" encoding="UTF-8"?>

<!--
WiX Toolset Pills 15mg
Copyright (C) 2019-2021 Dust in the Wind

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<!--
====================================================================================================
Step 4: Reference the custom action library
====================================================================================================

A reference to the library file (*.CA.dll file) that contains the custom actions must be added:
    - Right click on the installer project -> Add -> Reference... -> Projects ->
      [the custom action project name] -> Add -> OK

NEXT: CustomActions.wxs (DOWN)
-->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>

        <!--
        ====================================================================================================
        Step 5: Add the <Binary> tag
        ====================================================================================================
        
        The <Binary> tag provides an alias for the dll that contains the implementation of the custom
        action.
        
        NEXT: CustomActions.wxs (DOWN)
        -->

        <Binary
            Id="CustomActionsBinary"
            SourceFile="$(var.DeferredCustomAction.CustomActions.TargetDir)$(var.DeferredCustomAction.CustomActions.TargetName).CA.dll" />

        <!--
        ====================================================================================================
        Step 7: Create the data custom action
        ====================================================================================================
        
        As we specified before, a deferred custom action cannot access the WiX properties, so we need
        another way to send the needed values to the custom action's implementation. This is done using a
        second custom action that creates a property with the same name as the deferred custom action and
        the value being a key-value list with the items separated by semicolon.
        
        NEXT: Product.wxs
        -->

        <CustomAction
            Id="LogMessages_SetData"
            Property="LogMessages"
            Value="Message1=[MESSAGE1];Message2=[MESSAGE2]"/>

        <!--
        ====================================================================================================
        Step 6: Create the deferred custom action
        ====================================================================================================
        
        A deferred custom action declaration is very similar with an immediate custom action, but it has its
        "Execute" attribute set to "deferred".
        
        NEXT: CustomActions.wxs (UP)
        -->

        <CustomAction
            Id="LogMessages"
            BinaryKey="CustomActionsBinary"
            DllEntry="LogMessages"
            Execute="deferred" />

    </Fragment>
</Wix>