<?xml version="1.0" encoding="UTF-8"?>

<!--
WiX Toolset Pills 15mg
Copyright (C) 2019-2021 Dust in the Wind

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>

        <Binary
            Id="CustomActionsBinary"
            SourceFile="$(var.DeferredCustomAction.CustomActions.TargetDir)$(var.DeferredCustomAction.CustomActions.TargetName).CA.dll" />

        <!--
        ====================================================================================================
        Step 2: Create the custom actions
        ====================================================================================================
        
        The deferred custom actions are not executed in the place in which they are scheduled in the execution
        sequence. Instead, they are added into a list of deferred custom actions and executed at the end of the
        installation sequence.
        
        Because of this, the deferred custom actions does not have access to the properties from the session.
        The properties does not exist anymore by the point the custom action gets executed.
        
        We must explicitly preserve the values of the properties that the custom action needs. This is done by
        a second custom action that has:
            - a "Property" attribute pointing to the main custom action
            - and a "Value" attribute containing a key-value list with the needed parameter values.
        
        Go To: Product.wxs
        -->

        <!-- Notice the "Property" and the "Value" attributes. -->

        <CustomAction
            Id="LogSomething_SetParameters"
            Property="LogSomething"
            Value="Message1=[MESSAGE1];Message2=[MESSAGE2]"/>

        <!-- Notice the "Execute" attributes set to "deferred". -->

        <CustomAction
            Id="LogSomething"
            BinaryKey="CustomActionsBinary"
            DllEntry="LogSomething"
            Return="check"
            Impersonate="no"
            Execute="deferred" />

    </Fragment>
</Wix>