<?xml version="1.0" encoding="UTF-8"?>

<!--
WiX Toolset Pills 15mg
Copyright (C) 2019-2021 Dust in the Wind

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<!--
====================================================================================================
Overview (ToC)
====================================================================================================

- Step 1: Create properties (Product.wxs)
- Step 2: Create the custom actions (CustomActions.wxs)
- Step 3: Sequence the custom actions (Product.wxs)
- Step 4: Implement the custom action (LogSomethingCustomAction.cs)
-->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product
        Id="*"
        Name="Deferred Custom Action - WiX Toolset Pill"
        Language="1033"
        Version="1.0.0.0"
        Manufacturer="Dust in the Wind"
        UpgradeCode="3e186a68-9ae7-4e89-8997-ea902ceacac6">

        <Package
            InstallerVersion="200"
            Compressed="yes"
            InstallScope="perMachine" />

        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        <MediaTemplate />

        <!--
        ====================================================================================================
        Step 1: Create properties
        ====================================================================================================
        
        Create a couple of properties that will be sent, later as parameters to the custom action.
        
        Note: The properties are upper case to be treated by WiX Toolset as "public".
        This way they can be provided from command line.
        
        Go To: CustomActions.wxs
        -->
        <Property Id="MESSAGE1" Value="This is the first message." />
        <Property Id="MESSAGE2" Value="This is the second message." />

        <Feature
            Id="ProductFeature"
            Title="DeferredCustomAction"
            Level="1">

            <ComponentGroupRef Id="FileComponents" />
        </Feature>

        <InstallExecuteSequence>

            <!--
            ====================================================================================================
            Step 3: Sequence the custom actions
            ====================================================================================================
            
            The associated custom action setting the parameters must be scheduled before its main custom action.
            
            Go To: LogSomethingCustomAction.cs
            -->

            <Custom Action="LogSomething_SetParameters" Before="LogSomething" />
            <Custom Action="LogSomething" After="InstallFiles" />

        </InstallExecuteSequence>

    </Product>
</Wix>