<?xml version="1.0" encoding="UTF-8"?>

<!--
WiX Toolset Pills 15mg
Copyright (C) 2019-2021 Dust in the Wind

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<!--
====================================================================================================
START: Overview
====================================================================================================

The implementation of a deferred custom actions is not executed when the deferred custom action is
encountered in the execution sequence. Instead, it is placed into a list of deferred custom actions
and executed later, at the end of the installation sequence by the "InstallFinalize" custom action.

This project demonstrates how to create and schedule a deferred custom action.

NEXT: Product.wxs (DOWN)
-->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

    <Product
        Id="*"
        Name="Deferred Custom Action - WiX Toolset Pill"
        Language="1033"
        Version="1.0.0.0"
        Manufacturer="Dust in the Wind"
        UpgradeCode="3e186a68-9ae7-4e89-8997-ea902ceacac6">

        <Package
            InstallerVersion="200"
            Compressed="yes"
            InstallScope="perMachine" />

        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        <MediaTemplate />

        <!--
        ====================================================================================================
        Step 1: Create the MESSAGE properties
        ====================================================================================================
        
        Create a couple of properties that will be sent, later, to the custom action's implementation in
        order to write them into the log file.
        
        NEXT: LogMessagesCustomAction.wxs
        -->

        <Property Id="MESSAGE1" Value="This is the default message 1." />
        <Property Id="MESSAGE2" Value="This is the default message 2." />

        <Feature
            Id="ProductFeature"
            Title="DeferredCustomAction"
            Level="1">

            <ComponentGroupRef Id="FileComponents" />
        </Feature>

        <InstallExecuteSequence>

            <!--
            ====================================================================================================
            Step 9: Sequence the custom actions
            ====================================================================================================
            
            It is time to add the custom action into the execution sequence.
            
            Note that the associated custom action that sets the data must be scheduled before its associated
            deferred custom action.
            
            That's it. Now, let's build and run the installer.
            
            NEXT: install-with-messages.bat
            -->

            <Custom Action="LogMessages_SetData" Before="LogMessages" />
            <Custom Action="LogMessages" After="InstallInitialize" />

        </InstallExecuteSequence>

    </Product>
</Wix>