<?xml version="1.0" encoding="UTF-8"?>

<!--
WiX Toolset Pills 15mg
Copyright (C) 2019-2021 Dust in the Wind

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

    <!--
    ====================================================================================================
    START: Overview
    ====================================================================================================

    The deferred custom actions are not executed in the place in which they are scheduled in the
    execution sequence. Instead, when they are encountered in the sequence, they are added into a list
    of deferred custom actions and executed at the end of the installation sequence by the
    InstallFinalize custom action.

    This project demonstrates how to create and schedule a deferred custom action.
    
    NEXT: Product.wxs
    -->

    <Product
        Id="*"
        Name="Deferred Custom Action - WiX Toolset Pill"
        Language="1033"
        Version="1.0.0.0"
        Manufacturer="Dust in the Wind"
        UpgradeCode="3e186a68-9ae7-4e89-8997-ea902ceacac6">

        <Package
            InstallerVersion="200"
            Compressed="yes"
            InstallScope="perMachine" />

        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        <MediaTemplate />

        <!--
        ====================================================================================================
        Step 1: Create the MESSAGE properties
        ====================================================================================================
        
        Create a couple of properties that will be sent, later as parameters to the custom action's
        implementation.
        
        Note: The properties are upper case. By convention, WiX Toolset treats all uppercase properties as
              "public" and they can be provided from command line.
        
        NEXT: CustomActions.wxs
        -->

        <Property Id="MESSAGE1" Value="This is the first message." />
        <Property Id="MESSAGE2" Value="This is the second message." />

        <Feature
            Id="ProductFeature"
            Title="DeferredCustomAction"
            Level="1">

            <ComponentGroupRef Id="FileComponents" />
        </Feature>

        <InstallExecuteSequence>

            <!--
            ====================================================================================================
            Step 9: Sequence the custom actions
            ====================================================================================================
            
            It is time to add the custom action int the execution sequence.
            The associated custom action setting the parameters must be scheduled before its main custom action.
            
            That's it. Now, let's build and run the installer.
            
            NEXT: install.bat
            -->

            <Custom Action="LogSomething_SetParameters" Before="LogSomething" />
            <Custom Action="LogSomething" After="InstallFiles" />

        </InstallExecuteSequence>

    </Product>
</Wix>